footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 2rem;
    width: 100%;
    background-color: purple;
    color: #fff;
    text-align: center;
}

.list-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
}