<div class="container">
    <div class="row mt-4">
        <form class="card col-md-4 pt-5">
            <div class="form-group row">
                <label for="firstName" class="col-sm-3 col-form-label">First name</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="firstName"
                        value="{{response?.results[0].firstName}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-sm-3 col-form-label">Last name</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="lastName"
                        value="{{response?.results[0].lastName}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="uuid" class="col-sm-3 col-form-label">User Name</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="uuid"
                        value="{{response?.results[0].uuid}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="dob" class="col-sm-3 col-form-label">Date of birth</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="dob"
                        value="{{response?.results[0].dateOfBirth | date}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="gender" class="col-sm-3 col-form-label">Gender</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="gender"
                        value="{{response?.results[0].gender}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="uuid" class="col-sm-3 col-form-label">UUID</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="uuid"
                        value="{{response?.results[0].uuid}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-sm-3 col-form-label">Address</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="address"
                        value="{{response?.results[0].address}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="phone" class="col-sm-3 col-form-label">Phone</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="phone"
                        value="{{response?.results[0].phone}}">
                </div>
            </div>
        </form>

        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-center">Employee Location</h5>
                    <div class="map-wrapper">
                        <div class="map-border">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>